/*
 * see https://jgthms.com/web-design-in-4-minutes
 */

:root {
    --primary: #ff9900;
    --secondary: #cc3333;
    --text: #2c3e50;
    --background: #ffffff;
    --border: rgba(0, 0, 0, 0.1);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    max-width: min(50em, 100%);
    max-height: 100%;
    /*same as in body*/
}

body {
    margin: 0 auto;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    /* padding: 1em 1em; */
    color: var(--text);
    background-color: var(--background);
    clear: none;
}

h1,
h2 {
    /*    margin-top: .2em; */
    padding-top: .2em;
}

strong {
    color: var(--primary);
}

a {
    padding: .05em;
    color: var(--secondary);
}

a * {
    color: var(--secondary);
}

a:hover * {
    background-color: var(--secondary);
    color: white;
    text-decoration: none;
}

/* we need this bc * doesnt match empty tags  */
a:hover {
    background-color: var(--secondary);
    color: white;
    text-decoration: none;
}

.hide {
    display: none;
    size: inherit;
}

.show:hover .hide {
    display: inline;
    font-size: 50%;
    position: relative;
    bottom: .25em;
}

details {
    padding: 1em;
    border-left: 2px solid var(--primary);
}

details[open] summary {
    padding-bottom: 1em;
}

details[open]::details-content {
    padding-left: 1.5em;
}

/* used to center images in figure */
.figcontainer {
    text-align: center;
}

figcaption {
    border: 2px var(--border) solid;
    text-align: center;
    text-overflow: ellipsis;
    position: absolute;
    left: 0;
    right: 0;
}


figure {
    position: relative;
    display: inline-block;
    padding-bottom: 1.125em;
}

figure>img {

    border: 2px solid var(--border);
    border-bottom: none;
}

.content {
    text-align: justify;
    padding: 1em;
    margin: 0 auto;
    max-width: min(50em, 100%);
}

.topnav {
    /* gogi predpochita bez radius ama tbh men mi xaresva radiusa */
    /* border-radius: 0 0 .5em .5em; */
    z-index: 101;
    font-size: 1.2em;
    background-color: var(--background);
    overflow: auto;
    min-height: min-content;
    justify-content: center;
    scrollbar-width: none;
    position: sticky;
    top: 0px;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: 2.6em;
    padding-right: 2.6em;
    text-decoration: none;
    display: flex;
    filter: brightness(.95);
    box-shadow: 0 .1em .2em var(--border);
}

.topnav>* {
    filter: brightness(1.05)
        /*~= 1/.95*/
}

#expand-toggle {
    top: 1.2em;
    left: .6em;
    z-index: 1001;
    position: fixed;
    opacity: 0;
    width: 2.4em;
    height: 2.4em;
    padding: 0;
    margin: 0;
}

.triangle {
    top: 1.2em;
    left: .6em;
    z-index: 1000;
    position: fixed;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: 2em solid #111;
    transition: transform 0.3s ease;
    transform: rotate(90deg);
}

#expand-toggle:checked~.triangle {
    transform: rotate(180deg);
}

#expand-toggle:not(checked)~.sidenav {
    left: max(-20.2em, -100%);
}

#expand-toggle:checked~.sidenav {
    left: 0;
}

.sidenav {
    z-index: 100;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: min(20em, 100%);
    position: fixed;
    transition: left 0.3s ease;
    background-color: var(--background);
    filter: brightness(.93);
    box-shadow: .2em 0 0 var(--border);
    overflow: auto;
}

.sidenav>* {
    filter: brightness(1.07)
        /*~= 1/.93*/
}

.sidenav a {
    display: block;
    color: var(--text);
    text-align: center;
    width: min(20em, 100%);
    padding-top: .8em;
    padding-bottom: .8em;
    text-decoration: none;
}

.sidenav a:hover {
    background-color: var(--primary);
    color: black;
}

.sidenav a.active {
    background-color: var(--secondary);
    color: white;
}

abbr[title] {
    color: var(--primary);
    position: relative;
    text-decoration: underline dotted;
    z-index: 0;
}

abbr[title]:focus::after {
    z-index: 1;
    content: attr(title);
    text-align: left;

    position: absolute;
    left: -.15em;
    bottom: 1.5em;

    background-color: #1e1e1e;
    color: #fff;
    border-radius: .25em;
    font-size: .85em;
    padding: .3em;

    animation: fadeIn .25s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: .9;
    }
}

/* i generated these with https: //svgwave.in/ and then converted them to url-encoded images with
https://yoksel.github.io/url-encoder/ 
i also added some side padding in inkscape*/

#bg1 {
    left: 0;
    background-position: left;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='1052.748' height='3645' viewBox='0 0 1052.748 3645'%3E%3Cpath d='M 2.2316271e-8,0 H 450 c 42.29665,203.4689 84.5933,406.9376 75,660.6562 -9.5933,253.7184 -71.07656,557.6864 -91,840.375 -19.92344,282.6885 1.71292,544.0976 17,744.1875 15.28708,200.0898 24.22488,338.8604 23,561.9375 -1.22488,223.0771 -12.61244,530.4603 -24,837.8438 H 2.2316271e-8 Z' stroke='none' style='fill:%23cc3333;fill-opacity:1' /%3E%3C/svg%3E");
}

#bg2 {
    left: calc(50vw + 30em);
    background-position: right;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='1052.748' height='3645' id='svg' viewBox='0 0 1052.748 3645'%3E%3Cpath d='m 1052.6719,3645 h -250 c -31.0239,-176.6787 -62.0478,-353.3575 -75,-610.0312 -12.95214,-256.6738 -7.83253,-593.3419 3,-842.9063 10.8325,-249.5643 27.378,-412.0245 30,-663.1875 2.622,-251.163 -8.6794,-591.0287 -4,-860.625 4.6794,-269.5963 25.3397,-468.9231 46,-668.25 h 250 z' stroke='none' style='fill:%23ff990f;fill-opacity:1' /%3E%3C/svg%3E");
}

.bg {
    padding: 0;
    position: fixed;
    z-index: -100;
    top: 0em;
    height: 100vh;
    width: calc(50vw - 30em);
    background-repeat: no-repeat;
    background-size: cover;
}